{% load wagtailcore_tags wagtailimages_tags %}
<!-- карточка проекта на главной странице -->

<div class="boxs project-card">

    {# Проверяем наличие ссылки на страницу сайта или внешней ссылки #}
    {% if self.link_page %}
        <a href="{{ self.link_page.url }}" class="link-block">
    {% elif self.external_link %}
        <a href="{{ self.external_link }}" class="link-block" target="_blank" rel="noopener noreferrer">
    {% endif %}
    
        <div class="box">
            <div class="imag-proj">
                {% if self.card_image %}
                    {% image self.card_image fill-330x400 format-webp as project_img %}
                {% else %}
                    {% image self.image fill-330x400 format-webp as project_img %}
                {% endif %}
                <img src="{{ project_img.url }}" alt="{{ self.title }}">
            </div>
            <div class="description">
                <h3>{{ self.title }}</h3>
                <div class="project-description">{{ self.description|richtext }}</div>
            </div>
        </div>
    </a>
</div>