{% load wagtailcore_tags wagtailimages_tags %}
<!-- в админке - блок контента: заголовок, richtext и изображение -->
<div class="project-content-block">
    {% if value.title %}
        <h3 class="block-title">{{ value.title }}</h3>
    {% endif %}
    <div class="block-descr-imag"> 
    
    {% if value.description %}
        <div class="block-description">{{ value.description|richtext }}</div>
    {% endif %}
    {% if value.image %}
        <!-- {% image value.image original jpegquality-100 as block_img %} -->
        <div class="block-image">
            <img src="{% image_url value.image 'original' %}" alt="{{ value.title|default:'Изображение проекта' }}" loading="lazy">

            <!-- <img src="{{ block_img.url }}" alt="{{ value.title|default:'Изображение проекта' }}"> -->
        </div>
    {% endif %}
    </div>
</div>