SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
WAGTAIL_ADMIN_URL=your-secret-admin-url/
DJANGO_ADMIN_URL=your-secret-django-admin-url/
WAGTAILADMIN_BASE_URL=http://localhost:8000