<!DOCTYPE html>
{% load static wagtailcore_tags %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>

        <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'css/blog/favicon.ico' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'css/blog/favicon.ico' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'css/blog/favicon16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'css/blog/favicon.png' %}">
    
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}" />
    {% endif %}
    
    <!-- Свои стили -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog/blog.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>    
    {% include "blog/header_photo.html" %}        
    {% block content %} <p>изменения</p> {% endblock %}
    
    {% include "blog/button_up.html" %}

    {% include "blog/footer_photo.html" %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>